{% for item in items %}
 <li>
    <span class="sentiment">
        {% if item["nnp"] in set(["negative", "positive"]) %}
            <img src="{{static_url("images/%s.png" % item["nnp"])}}" />
        {% else %}  
            <div></div>
        {% end %}    
    </span>
    <img class="profile" src="{{ item['profile_image_url'] }}"/>
    <span class="status">{{ item["text"] }}</span>
    <div class="clear"></div>
 </li>
{% end %}
    
<script>
function update() {
    $.get("/update/{{ q }}", function(html) {
        console.log(html);
        $("#opinions").append(html);
    });
}

$(document).ready(function(){
    if (currentIntervalId != null) {
        clearInterval(currentIntervalId);
    }
    currentIntervalId = setInterval("update()", 5000);
});
</script>
